PyYAML==3.10
cycler==0.10.0
distribute==0.6.31
matplotlib==1.5.3
nltk==2.0.4
numpy==1.11.2
oauthlib==0.6.3
pyparsing==2.1.10
python-dateutil==2.5.3
pytz==2016.7
requests==2.3.0
requests-oauthlib==0.4.1
simplejson==3.5.2
six==1.10.0
tweepy==2.3.0
wsgiref==0.1.2
